
:root {
  /* Font experiments. */
  --demo-font: Verdana, Arial, Helvetica, sans-serif;
  --X_demo-font: Arial, sans-serif;
  --X_demo-font: 'Times New Roman', serif;
}

title-tip {
  --tt-tip-width-multiplier: var(--tt-wide-multiplier);
  --Y_tt-tip-width-multiplier: var(--tt-narrow-multiplier);
}

/* Selectively change some of the "?" to "i"!
*/
[ data-tag = input ] {
  --tt-button-content: 'i';
  --tt-button-font: Georgia, 'Times New Roman', serif;
  --tt-position-area: bottom right;

  &::part(button)::after {
    font-size: 1.03rem;
  }
}

title-tip[ data-archive-id ] {
  --tt-button-content: 'A';
  --tt-button-font: Georgia, 'Times New Roman', serif;

  &[ data-archive-id = na-gov-uk ] {
    --button-content: 'NA';

    &::part(button) {
      width: 2.2rem;
    }

    &::part(button)::after {
      font-size: small;
    }
  }
}

iframe {
  height: 2rem;
}

ul {
  line-height: 2.3;
}

button,
input {
  font-size: inherit;
  padding: .25rem 1rem;
}

footer {
  font-size: small;
  border-top: 1px solid gray;
  margin-top: 2rem;
}

body {
  background-color: #fcfcfc;
  color: #333;
  font-family: var(--demo-font);
  line-height: 1.5;
  margin: auto;
  max-width: 34rem;
  padding: 0 1rem;
}

* {
  outline-offset: .25rem;
  text-underline-offset: .15rem;
}
