
:root {
  /* 0.48rem for Verdana font. */
  --fix-title-multiplier: 0.48rem;
}

title-tip {
  &::part(tip) {
    border-radius: .25rem;
    line-height: 1.3;
    padding: .2rem;
    text-align: center;
  }

  &::part(button):after {
    content: '?';
  }
}

title-tip::part(button),
.fix-title-attr-button {
  border-color: gray;
  border-radius: 50%;
  cursor: help;
  margin-left: .25rem;
  height: 1.6rem;
  width: 1.6rem;
}

[ data-demo-page = true ] {
  iframe {
    height: 2rem;
  }

  ul {
    line-height: 2.2;
  }
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  X_font-family: Arial, sans-serif;
  X_font-family: 'Times New Roman', serif;
}
