
title-tip {
  &::part(button) {
    border-color: gray;
    border-radius: 50%;
    cursor: help;
    margin-left: .25rem;
    outline-offset: .25rem;
    height: 1.6rem;
    width: 1.6rem;
  }

  &::part(tip) {
    background: #fafafa;
    border-radius: .25rem;
    line-height: 1.3;
    padding: .2rem;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 4px;
    overflow: visible;
  }

  &::part(arrow) {
    background: white;
    border: 2px solid currentColor;
    border-top: none;
    border-left: none;
    X_content: ' ';
    display: block;
    margin: 0 auto;
    height: .4rem;
    width: .4rem;
    position: relative;
    top: 5px;
    transform: rotate(45deg);
  }
}

/* Legacy. */
.fix-title-attr-button {
  border-color: gray;
  border-radius: 50%;
  cursor: help;
  margin-left: .25rem;
  height: 1.6rem;
  width: 1.6rem;
}
